<h1>Add an Event to a Sport</h1>

<form action="/create_sport_event">
  <div>
    <label for="sport_id">Sport</label><br />
    <select name = "sport_id">
      <% @sports.each do |sport| %>
      <option value = "<%= sport.id %>"><%=sport.name %></option>
      <% end %>
    </select>
  </div>
  <div>
    <label for="event_id">Event</label><br />
    <select name = "event_id">
      <% @events.each do |event| %>
      <option value = "<%= event.id %>"><%= event.name %></option>
      <% end %>
    </select>
  </div>
  <div>
    <label for="arena">Arena</label><br />
    <input id="arena" name="arena" type="text" />
  </div>
  <br>
  <div>
    <input type="submit">
  </div>
</form>

