<h1>Add an Event to a Sport</h1>

<form action="/create_sport_event">
  <div>
    <label for="sport_id">Sport</label><br />
    <input id="sport_id" name="sport_id" type="text" />
  </div>
  <div>
    <label for="event_id">Event</label><br />
    <input id="event_id" name="event_id" type="text" />
  </div>
  <div>
    <label for="arena">Arena</label><br />
    <input id="arena" name="arena" type="text" />
  </div>
  <br>
  <div>
    <input type="submit">
  </div>
</form>

