<h1>New Sport</h1>

<form action="/create_sport">
  <div>
    <label for="name">Name</label><br />
    <input id="name" name="name" type="text" />
  </div>
  <div>
    <label for="description">Description</label><br />
    <input id="description" name="description" type="text" />
  </div>
  <div>
    <label for="equipment">Equipment</label><br />
    <input id="equipment" name="equipment" type="text" />
  </div>
  <br>
  <div>
    <input type="submit">
  </div>
</form>

