<h1>New Athlete</h1>

<form action="/create_athlete">
  <div>
    <label for="name">Name</label><br>
    <input id="name" name = "name" type = "text"
  </div>
  <div>
    <label for="age">Age</label><br>
    <input id="age" name="age" type="text">
  </div>
  <div>
    <label for="country">Country</label><br>
    <input id="country" name="country" type="text">
  </div>
  <br>
  <div>
    <input type="submit">
  </div>
</form>

