<h1>New Event</h1>

<form action="/create_event">
  <div>
    <label for="name">Name</label><br />
    <input id="name" name="name" type="text" />
  </div>
  <div>
    <label for="bestperformance">Best Performance</label><br />
    <input id="bestperformance" name="bestperformance" type="text" />
  </div>
  <br>
  <div>
    <input type="submit">
  </div>
</form>

