<h1>Add an Athlete to an Event</h1>

<form action="/create_event_athlete">
  <div>
    <label for="event_id">Event</label><br />
    <input id="event_id" name="event_id" type="text" />
  </div>
  <div>
    <label for="athlete_id">Athlete</label><br />
    <input id="athlete_id" name="athlete_id" type="text" />
  </div>
  <div>
    <label for="gender">Gender</label><br />
    <input id="gender" name="gender" type="text" />
  </div>
  <br>
  <div>
    <input type="submit">
  </div>
</form>

