<h1>Add an Athlete to an Event</h1>

<form action="/create_event_athlete">
  <div>
    <label for="event_id">Event</label><br />
    <select name = "event_id">
      <% @events.each do |event| %>
      <option value = "<%= event.id %>"><%= event.name %></option>
      <% end %>
    </select>
  </div>
  <div>
    <label for="athlete_id">Athlete</label><br />
     <select name = "athlete_id">
       <% @athletes.each do |athlete| %>
       <option value = "<%= athlete.id %>"><%= athlete.name %></option>
      <% end %>
    </select>
  </div>
  <div>
    <label for="gender">Gender</label><br />
    <input type="radio" name="gender" value="Male">Male<br>
    <input type="radio" name="gender" value="Female">Female
  </div>
  <br>
  <div>
    <input type="submit">
  </div>
</form>

